{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"react",
		"react-hooks"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"standard",
		"plugin:react/recommended"
  ],
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-tabs": "off",
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"@typescript-eslint/indent": ["error", "tab"],
		"@typescript-eslint/explicit-function-return-type": "off"
  }
}
