{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"react",
		"react-hooks"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"standard",
		"plugin:react/recommended"
	],
	"settings": {
		"react": {
			"createClass": "createReactClass",
			"pragma": "jsx",
			"version": "detect"
		}
	},
	"globals": {
		"AudioContext": "readonly",
		"webkitAudioContext": "readonly",
		"HTMLInputElement": "readonly"
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-tabs": "off",
		"array-bracket-spacing": ["error", "never"],
		"standard/array-bracket-even-spacing": "off",
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"@typescript-eslint/indent": ["error", "tab"],
		"@typescript-eslint/explicit-function-return-type": "off"
  }
}
